.board {
  width: 600px;
  height: 600px;
  outline: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell-new {
  width: 75px;
  height: 75px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: black;
}

.light {
  background-color: rgb(255, 247, 203);
}

.select-rook {
  border: 2px solid green;
}

@media screen and (max-width: 800px) {
  .board {
    width: 360px;
    height: 360px;
  }
  .cell-new {
    width: 45px;
    height: 45px;
  }
  /* 800х600 */
}

@media screen and (max-width: 390px) {
  /* 390х844 */
  .board {
    width: 240px;
    height: 240px;
  }
    .cell-new {
    width: 30px;
    height: 30px;
  }
}
